.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
    color:  white;
}
header{
    margin-bottom: 0.6em;
}
.auth-header{
    box-shadow: 0 4px 8px 0 rgb(150, 151, 172), 0 6px 20px 0 gray;
    background-color: rgba(77, 140, 241, 0.685);
}
