.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
    color:  white;
}
header{
    margin-bottom: 0.6em;
}
.auth-header{
    box-shadow: 5px 4px 6px 0px;
    background-color: rgba(77, 140, 241, 0.685);
}
.auth-content{
    box-shadow: 5px 4px 6px 0px;
}