<div class="main-wrapper">
        <div class="app">
            <!--HEADER-->
            <header class="header">
                <div class="header-block header-block-search">

                </div>
                <div class="header-block header-block-nav">
                    <ul class="nav-profile">
                        <li class="profile dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button">
                                <span class="name">
                                    Здравствуйте, {{userName.name}}
                                </span>
                            </a>
                            <div class="dropdown-menu profile-dropdown-menu">
                                <a class="dropdown-item" href="#"> <i class="fa fa-gear icon"></i>Сделать запись</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="fa fa-power-off icon"></i>Выйти</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <!--HEADER-->
            <!--SIDEBAR-->
            <aside class="sidebar">
                <div class="sidebar-container">
                    <div class="sidebar-header">
                        <div class="brand">
                            Поликлиника
                        </div>
                    </div>
                    <nav class="menu">
                        <ul class="nav metismenu">
                            <li class="active">
                                <a href="#"> <i class="fa fa-building-o"></i>Карточка</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>
            <!--SIDEBAR-->
            <!--CONTENT-->
            <article class="content">
                <div class="title-block">
                    <h3 class="title">
                        Страница счета <span class="sparkline bar"></span>
                    </h3>
                </div>
            </article>
            <!--CONTENT-->
        </div>
    </div>